.contact {
    max-width: 550px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
  }
  .contact__title {
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
    font-weight: bold;
  }
  .contact__email, .contact__phone, .contact__address {
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
  }
  .email, .phone, .address__title, .address {
      justify-content: center;
      align-items: center;
      text-align: center;
  }