.sidedrawer {
    width: 70%;
    height: 100vh;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidedrawer__profile {
    width: 100%;
    height: 30vh;
    background-color: rgb(131, 127, 127);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    box-shadow: rgba(0, 0, 0, 0.4);
    display: flex;
}
.sidedrawer__profile__img {
    width: 25%;
    height: 25%;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    position: fixed;
}
.sidedrawer__profile__img > img {
    display: flex;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: 1rem;
    flex: 1;
    width: 100%;
}
.sidedrawer__profile__icon {
    display: flex;
    top: 5%;
    right: 5%;
    position: fixed;
    color: white;    
}
.sidedrawer__profile__icon > i {
    font-size: 2rem;
}
.sidedrawer.show {
    transform: translateX(0);
}
.sidedrawer__links{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.sidedrawer__links > li {
    display: flex;
    align-items: center;
}
.sidedrawer__links > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    text-decoration: none;
    color: #171717;
    font-size: 1.6rem;
}
.sidedrawer__links > li > a:hover {
    background: rgb(62, 77, 30);
    color: #f4f4f4;
}
.sidedrawer__links > li > a > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
}
@media(min-width: 960px) {
    .sidedrawer {
        display: none;
    }
}